
@media(max-width: 800px) {
    #search{
       width: 500px !important;
    }
    #carousel{
      max-height: 450px;
    }
   
  }
  @media(max-width: 700px) {
    #search{
       width: 400px !important;
    }
    #card{
      margin-left: 30px !important;
    }
  }
  @media(max-width: 600px) {
    #search{
       width: 320px !important;
    }
   
  }
  @media(max-width: 500px) {
    #search{
       width: 280px !important;
       margin-left: -10px;
    }
    #card{
      margin-left: 30px !important;
    }
   
  }